<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    <link rel="stylesheet" href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\static\Css\peixaria.css">
</head>
<body>
    <header class="bg-warning p-3">
        <table>
            <thead>
        <div class="container d-flex align-items-center">
            <th class="nav-item">
            <div class="nav-item mr-3"><a href="paginaPrincipal.html" class="btn btn-outline-primary"><button>Início</button></a></div></th>
            <th class="nav-item">
                <div class="nav-item mr-3"><a href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\templates\Site\paginasSite\Carrinho.html" class="btn btn-outline-primary"><button>Carrinho</button></a></div></th>
            <div class="ml-auto d-flex align-items-center">
                <th class="nav-item">
                    <div class="nav-item mr-3"><a href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\templates\Site\paginasSite\paginaDeLogin.html" class="btn btn-outline-primary"><button> Login</button></a></div></th>
                    <th class="nav-item">
                        <input type="text" class="form-control mr-2" placeholder="Pesquisar...">
                <button class="btn btn-primary">Buscar</button></th>
            </div>
        </thead>
        </div>
    </table>
    </header>

    <main>
      
        <div class="card-container">
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title" th:text="${product.name}">Nome peixe1</div>
            <div class="description"th:text="'Preço: R$ ' + ${product.price}">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
    </div>
    </main>

    <footer>
        <div class="text-content">
            <p>Informações adicionais e links relevantes.</p>
            <p>Mais detalhes aqui.</p>
            <p>Outras informações importantes.</p>
        </div>
        <div class="image-content">
            <img src="c:/Users/Pichau/Pictures/Saved Pictures/WhatsApp Image 2024-05-17 at 16.26.48.jpeg" alt="logomarca">
        </div>
    </footer>
</body>
</html>
