body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: left;
    padding: 10px;
    background-image: url("C:/Users/Pichau/Documents/Projetos/Peixaria/src/main/resources/static/Imagens/fundo de madeira.jpg");
    border-bottom: 1px solid hwb(0 80% 20%);
}
 button{
    color: white;
    background: transparent;
    border: 0;
    display: flex;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
}

    
th.nav-item {
    margin: 0px 50px;
    flex-grow: 1;
    padding: 10px;
    display: inline-block;
    align-items: center;
}
.nav-item:hover{
    background-color: blue;
    border-radius: 7px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.search-container button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("C:/Users/Pichau/Documents/Projetos/Peixaria/src/main/resources/static/Imagens/iL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    padding: 20px;
    width: 300px; 
    text-align: center;
    background: #fff;
    flex: 1;
}
.card:hover{
    flex:3;
}

.card img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.card .title {
    font-size: 1.2em;
    margin: 10px 0;
    flex: 1;

}

.card .description {
    margin: 10px 0;
    height: auto;
}

.card button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover {
    background-color: #0056b3;
}

footer {
    padding: 20px;
    margin: auto;
    background-image: url("C:/Users/Pichau/Documents/Projetos/Peixaria/src/main/resources/static/Imagens/fundo de madeira.jpg");
    border-top: 1px solid #ccc;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer .text-content {
    flex-grow: 2;
}

footer .image-content {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .image-content img {
    max-height: 100%;
    max-width: 100%;
}