<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\static\Css\peixaria.css">
</head>
<body>
    <header class="bg-warning p-3">
        <div class="container d-flex align-items-center">
            <div class="nav-item mr-3"><a href="paginaPrincipal.html" class="btn btn-outline-primary">Início</a></div>
            <div class="nav-item mr-3"><a href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\templates\Site\paginasSite\Carrinho.html" class="btn btn-outline-primary">Carrinho</a></div>
            <div class="ml-auto d-flex align-items-center">
                <div class="nav-item mr-3"><a href="C:\Users\Pichau\Documents\Projetos\Peixaria\src\main\resources\templates\Site\paginasSite\paginaDeCadastro.html" class="btn btn-outline-primary">Cadastre-se</a></div>
                <input type="text" class="form-control mr-2" placeholder="Pesquisar...">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </header>

    <main>
        <div class="card1">
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <div class="title">Nome peixe1</div>
            <div class="description">valor peixe 1.</div>
            <a href="paginaDoProduto.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card2">
            <img src="https://via.placeholder.com/150" alt="Imagem 2">
            <div class="title">Nome peixe2</div>
            <div class="description">valor peixe 2.</div>
            <a href="paginaDoProduto2.html" class="button"><button>Ver Detalhes</button></a>
        </div>
        <div class="card3">
            <img src="https://via.placeholder.com/150" alt="Imagem 3">
            <div class="title">Nome peixe3</div>
            <div class="description">valor peixe 3.</div>
            <a href="paginaDoProduto3.html" class="button"><button>Ver Detalhes</button></a>
        </div>
    </main>

    <footer>
        <div class="text-content">
            <p>Informações adicionais e links relevantes.</p>
            <p>Mais detalhes aqui.</p>
            <p>Outras informações importantes.</p>
        </div>
        <div class="image-content">
            <img src="c:/Users/Pichau/Pictures/Saved Pictures/WhatsApp Image 2024-05-17 at 16.26.48.jpeg" alt="logomarca">
        </div>
    </footer>
</body>
</html>
