<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Pagamento</title>
</head>
<body>
    <div class="nav-item"><a href="paginaPrincipal.html" class="button"><button type="return" name="Voltar">Voltar</button></a></div>
    <div class="page-title">Metodo de Pagamento</div>
    <div class="modo">
        <table>
            <tr><div class="credito"></div></tr>
            <tr><div class="Debito"></div></tr>
            <tr><div class="PIX"></div></tr>
        </table>
    </div>
</body>
</html>